#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin-top: 50px;
}

#about .text-container{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;
}

#about .presentation-title{
    font-family: 'Press Start 2P';
    color: rgb(184, 250, 145);
    font-size: 1.5rem;
    
    margin-left: 5px;
}

#about .title{
    color: rgb(240, 240, 240);
    font-size: 4rem;
    font-weight: 600;
}

#about .subtitle{
    color: rgb(240, 240, 240);
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    
    margin-bottom: 30px;
}

#about .presentation-text{
    line-height: 1.6;
    font-size: 1.2rem;
}