#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin: 30px 0 0 0;
    align-items: center;

}

#about .center-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 65%;
}

#about .presentation-title{
    font-family: 'Press Start 2P';
    color: rgb(184, 250, 145);
    font-size: 1.5rem;
    
    margin-left: 5px;
}

#about .title{
    font-size: 4rem;
}

#about .subtitle{
    margin-bottom: 30px;
    margin-top: -15px;

    color: #B0B0B0;
    font-size: 3rem;
}

#about .presentation-text{
    color: #B0B0B0;
    line-height: 1.6;
}