#education{
    min-height: 100vh;
}

#education .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 50px;
}

#education #logo-rotate img{
    width: 150px;
}