#experience{
    min-height: 100vh;
}

#experience .container-margin{
    margin-top: 50px;
}

#experience #information-box .logo-big-screen{
    display: none;
}

#experience #information-box .logo-small-screen{
    display: none;
}