#experience{
    min-height: 100vh;
}

#experience .container-width{
    width: 90%;
}

#experience .container-revoluz{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

@media screen and (max-width: 1020px) {
    #experience .box{
        display: flex;
        justify-content: center;
    }
    #experience .container-width{
        width: 100%;
    }
}