#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: 0.3s ease;
}

#header a{
    text-decoration: none;
}

#header .page-logo{
    width: 45px;

    transition: 0.2s;
}

#header .page-logo:hover{
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.6));
}

#header .links{
    width: 100%;
}

#header .links ul {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

#header .links ul .section{
    margin-right: 60px;
}

#header .links ul .section a {    
    font-size: 0.8rem;
    opacity: 0.5;
    
}
#header .links ul .section a:hover:not(.active) {
    animation: blinkText 1s steps(2, start) infinite;
}

@keyframes blinkText {
    0% { opacity: 0.5; }
    50% { opacity: 0.8; }
    100% { opacity: 0.5; }
}

#header .links ul .section .active{
    animation: pulseActive 1.5s infinite alternate ease-in-out;
    opacity: 1;
}

@keyframes pulseActive {
    0% {
        text-shadow: 0px 0px 5px rgba(204, 255, 102, 0.5), 0px 0px 15px rgba(204, 255, 102, 0.3);
    }
    100% {
        text-shadow: 0px 0px 10px rgba(204, 255, 102, 0.8), 0px 0px 20px rgba(204, 255, 102, 0.5);
    }
}

#header.scrolled {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    padding: 15px 40px;
    backdrop-filter: blur(10px);
    background-color: rgb(15, 23, 42, 0.5);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

@media screen and (max-width: 900px) {
    #header .links{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #header{
        padding: 30px 5% !important;
    }
    #header.scrolled {
        padding: 15px 5% !important;
    }
  }