
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

#header .logo-page{
    width: 50px;
}

#header .links{
    width: 100%;
}

#header .links ul {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}

#header .links ul .page{
    margin-right: 60px;
}

#header .links ul .page a {
    text-decoration: none;
    
    font-size: 0.8rem;
    color: rgb(184, 250, 145);
    font-family: 'Press Start 2P';
    
    position: relative;
}

#header .links ul .page .active{
    color: rgb(184, 250, 145, 0.5);
    pointer-events: none;
    text-decoration: none;
}

#header .links ul .page a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s
}
  
#header .links ul .page a:hover::before {
    width: 120%;
    left: -10%;
}

#header .links ul .page a:not(:hover)::before {
    width: 0;
    right: -10%;
}

#header .resume-button a {
    font-family: 'Press Start 2P';
    color: rgb(184, 250, 145);

    background-color: transparent;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid rgb(184, 250, 145);
}

#header .resume-button a:hover {
    background-color: rgb(184, 250, 145, 0.3);
    transition: 0.3s;
}
#header .resume-button a:not(:hover) {
    background-color: transparent;
    transition: 0.3s;
}
