#information-box{
    position: relative;
    display: flex;
    align-items: center;

    border-radius: 10px;
    padding: 20px;

    transition: 0.3s;
}

#information-box .logo {
    margin: 0 30px 0 10px;
}

#information-box .logo #logo-rotate img{
    width: 100px;
}

#information-box .container-text .date{
    width: 100%;
    white-space: nowrap;
    text-align: left;

    margin-bottom: 10px;
}

#information-box .container-text .job-title{
    font-weight: 700;
    font-size: 1.2rem;
}

#information-box .container-text .container-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
#information-box .container-text .container-grid .tags{
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    #information-box{
        display: block;
    }
    #information-box .logo{
        position: absolute;
        right: 30px;
        top: 40px;
        margin: 0;
    }
    #information-box .logo #logo-rotate img{
        width: 50px;
    }
    #information-box .container-text .job-title{
        margin-right: 80px;
    }

}

@media screen and (max-width: 500px) {
    #information-box {
        box-shadow: 0px 0px 10px rgba(184, 250, 145, 0.6);
        background-color: rgba(0, 0, 0, 0.1);
    }
} 

@media screen and (min-width: 500px) {
    #information-box:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px rgba(184, 250, 145, 0.6);
        background-color: rgba(0, 0, 0, 0.1);
    }
}
