#information-box{
    position: relative;
    display: flex;
    align-items: center;

    border-radius: 10px;
    padding: 20px;

    transition: 0.3s;

    cursor: pointer;
}

#information-box .logo-big-screen {
    margin: 0 30px 0 10px;
}

#information-box .logo-big-screen #logo-rotate img{
    width: 100px;
}

#information-box .container-text .container-first-text-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#information-box .container-text .container-first-text-logo .logo-small-screen #logo-rotate img{
    width: 50px;
}

#information-box .container-text .container-first-text-logo .container-first-text .date{
    width: 100%;
    white-space: nowrap;
    text-align: left;

    margin-bottom: 10px;
}

#information-box .container-text .container-first-text-logo .container-first-text .job-title{
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.3s;
}

#information-box:hover .container-text .container-first-text-logo .container-first-text .job-title{
    color: rgb(184, 250, 145);
}

#information-box .container-text .container-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
#information-box .container-text .container-grid .tags{
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    #information-box .logo-small-screen{
        display: block;
    }
    #information-box .logo-big-screen{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #information-box .logo-big-screen{
        display: block;
    }
    #information-box .logo-small-screen{
        display: none;
    }
}

@media screen and (min-width: 500px) {
    #information-box:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px rgba(184, 250, 145, 0.6);
        background-color: rgba(0, 0, 0, 0.1);
    }
}
