#presentation {
    display: flex;
    align-items: center;

    min-height: 100vh;
}

#presentation .text-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}

#presentation .title{
    font-size: 4rem;
}

#presentation .subtitle{
    font-size: 4rem;
    margin: 0 0 30px 30px
}

#presentation .presentation-text{
    text-align: justify;
    width: 80%;
}