#section-title{
    padding-top: 140px;
    margin-bottom: 60px;
}

#section-title::before {
    content: '>';
    color: #b8fa91;
    margin-right: 15px;
}

#section-title::after {
    content: '_';
    margin-left: 5px;
    animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
