html{
  background-color: rgb(15, 23, 42);
  font-size: 16px;
  scroll-behavior: smooth;

  color: rgb(158, 168, 193, 0.9);
}
body {
  margin: 0;
  font-family: "Source Code Pro", serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.retro-font{
  font-family: 'Press Start 2P';
  color: rgb(184, 250, 145);

}
.retro-color{
  color: rgb(184, 250, 145);
}